@charset "utf-8";
/* base */
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("font/font/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: 400;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("font/font/SpoqaHanSansNeo-Medium.woff") format("woff");
    font-weight: 500;
}
@font-face {
    font-family: Spoqa Han Sans Neo;
    src: url("font/font/SpoqaHanSansNeo-Bold.woff") format("woff");
    font-weight: 700;
}

body {
    font-family: "Spoqa Han Sans Neo" , sans-serif;
}

#appLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.cont-login{
    width: 440px;
    height: 172px;
    padding:38px 30px 30px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    text-align: center;
}
.cont-login .tit-weniv img{
    width:122px;
}
.cont-login .txt-login{
    margin:32px 0 36px;
    font-size: 16px;
    line-height: 20px;
}

/* 모달 스타일 */
.modal-login {
    display: none;
    height: 100%;
}

.modal-login.on {
    display: block;
}

.modal-login::after {
    display: block;
    content: "";
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: black;
    opacity: .7;
    z-index: 10;
}

.modal-login .cont-form-login {
    width: 100%;
    max-width: 520px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background: #fff;
    z-index: 20;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
}


.cont-form-login .tit-form {
    padding: 20px 0 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
}

.cont-form-login .txt-form {
    margin: 26px 0 24px;
    padding-left: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.cont-form-login .form-login {
    padding: 0 24px 0;
    text-align: center;
}

.form-login .inp-error {
    text-align: left;
}

/* 체크박스 스타일 */
/* 가상요소를 만들어서 체크박스를 만들어준다 */
/* input에 있는 checkbox는 txt-hide로 숨겨줬다 */
.form-login .labl-hold {
    display: block;
    text-align: left;
    margin: 17px 0 21px;
    user-select: none;
}

.form-login .labl-hold::before {
    width: 22px;
    height: 22px;
    display: inline-block;
    content: "";
    margin-right: 8px;
    background-image: url("images-login/icon_check_empty.png");
    vertical-align: -5px;
}

/* 접근성 */
.form-login .inp-hold:focus+.labl-hold::before {
    outline: 2px solid black;
    outline-offset: 5px;
}


/* 인풋에 체크가 되었을때 형제인 before요소에 이걸로바꾸겠다 */
.form-login .inp-hold:checked+.labl-hold::before {  
    background-image: url("images-login/icon_check.png")
}

.form-login a[class^="link"] {
    display: inline-block;
    margin-top: 20px;
    line-height: 18px;
    font-size: 14px;
    color: #767676;
    text-decoration: none;
}

.form-login .link-singup::after {
    display: inline-block;
    content: '\007c';
    margin: 0 8px 0 12px;
}


.cont-form-login .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 22px 24px;
    box-sizing: content-box;
    background-color: transparent;
}


.cont-form-login .cont-sns-login {
    margin-top: 30px;
    padding: 30px 24px 25px;
    position: relative;
}

.cont-sns-login::before {
    display: block;
    content: "또는";
    width: 52px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    z-index: 10;
    text-align: center;
    color: #767676;
}

.cont-sns-login::after {
    content: '';
    display: block;
    width: calc(100%-48px);
    position: absolute;
    top: 9px;
    height: 1px;
    background: #c4c4c4;
}

.cont-sns-login .list-sns li+li {
    margin-top: 10px;
}